### import

In [9]:
import geopandas as gpd
import pandas as pd
import numpy as np

### load the ward data

In [10]:
wards = gpd.read_file(f"zip://statistical-gis-boundaries-london.zip!statistical-gis-boundaries-london/ESRI/London_Ward.shp")
wards.to_crs("EPSG:4326", inplace = True)
wards["Centroids"] = wards.geometry.centroid
wards

/opt/conda/envs/sds2020/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  This is separate from the ipykernel package so we can avoid doing imports until

,NAME,GSS_CODE,HECTARES,NONLD_AREA,LB_GSS_CD,BOROUGH,POLY_ID,geometry,Centroids
0,Chessington South,E05000405,755.173,0.0,E09000021,Kingston upon Thames,50840,"POLYGON ((-0.33068 51.32901, -0.33059 51.32909...",POINT (-0.31203 51.34797)
1,Tolworth and Hook Rise,E05000414,259.464,0.0,E09000021,Kingston upon Thames,117160,"POLYGON ((-0.30846 51.37586, -0.30834 51.37606...",POINT (-0.28990 51.37427)
2,Berrylands,E05000401,145.390,0.0,E09000021,Kingston upon Thames,50449,"POLYGON ((-0.30385 51.39249, -0.30375 51.39252...",POINT (-0.28946 51.39265)
3,Alexandra,E05000400,268.506,0.0,E09000021,Kingston upon Thames,50456,"POLYGON ((-0.26990 51.38845, -0.26975 51.38838...",POINT (-0.27527 51.38389)
4,Beverley,E05000402,187.821,0.0,E09000021,Kingston upon Thames,117161,"POLYGON ((-0.24662 51.39921, -0.24672 51.39921...",POINT (-0.25894 51.40274)
...,...,...,...,...,...,...,...,...,...
644,Aldgate,E05000002,11.227,0.0,E09000001,City of London,51182,"POLYGON ((-0.07995 51.51543, -0.07979 51.51554...",POINT (-0.07905 51.51383)
645,Broad Street,E05000008,8.188,0.0,E09000001,City of London,50669,"POLYGON ((-0.08895 51.51472, -0.08888 51.51497...",POINT (-0.08601 51.51605)
646,Coleman Street,E05000012,15.404,0.0,E09000001,City of London,122520,"POLYGON ((-0.08623 51.51881, -0.08617 51.51879...",POINT (-0.08869 51.51802)
647,Portsoken,E05000021,6.209,0.0,E09000001,City of London,122516,"POLYGON ((-0.07306 51.51181, -0.07389 51.51173...",POINT (-0.07538 51.51425)
648,Candlewick,E05000009,4.346,0.0,E09000001,City of London,122505,"POLYGON ((-0.08843 51.51125, -0.08840 51.51130...",POINT (-0.08700 51.51139)

### change the format

#### origins: the wards

In [11]:
origlat=[]
origlon=[]
for centroid in wards["Centroids"]:
    origlon.append(str(centroid).split(' ')[1].split('(')[1])
    origlat.append(str(centroid).split(' ')[2].split(')')[0])

In [12]:
origcood1=[]
temp=0
while temp<33:
    count=0
    cood=""
    while count<20:
        if (temp*20+count)!=649-1:
            if count!=19:
                cood=cood+origlat[temp*20+count]+","+origlon[temp*20+count]+"|"
            else:
                cood=cood+origlat[temp*20+count]+","+origlon[temp*20+count]
        else:
            cood=cood+origlat[temp*20+count]+","+origlon[temp*20+count]
            break
        count=count+1
    origcood1.append(cood)
    temp=temp+1
print("finish")

finish

In [ ]:
origcood1

#### distances: the public space

In [14]:
dataorigin = gpd.read_file("../data/hospital/shp/hospital.shp")
dataorigin

,field_1,index,name,beds,locations,latitude,lontitude,lon,lat,geometry
0,0,1,Royal Brompton Hospital,295,(51.48924130107576 -0.1705189273646031),51.48924130107576,-0.1705189273646031,-0.170519,51.489241,POINT (-0.17052 51.48924)
1,1,2,Chelsea and Westminster Hospital,430,(51.48439792332895 -0.18170047917793666),51.48439792332895,-0.18170047917793666,-0.181700,51.484398,POINT (-0.18170 51.48440)
2,2,3,St Peters Hospital,550,(51.37691989734889 -0.5287789709867476),51.37691989734889,-0.5287789709867476,-0.528779,51.376920,POINT (-0.52878 51.37692)
3,3,4,Queen's Hospital,939,(51.56876542120414 0.18080075958364775),51.56876542120414,0.18080075958364775,0.180801,51.568765,POINT (0.18080 51.56877)
4,4,5,St Ann's Hospital,560,(51.58051804669895 -0.08941433058033453),51.58051804669895,-0.08941433058033453,-0.089414,51.580518,POINT (-0.08941 51.58052)
5,5,6,The Royal London Hospital,845,(51.51734081630833 -0.059805022943028266),51.51734081630833,-0.059805022943028266,-0.059805,51.517341,POINT (-0.05981 51.51734)
6,6,7,St. Pancras Hospital,540,(51.53657605908692 -0.13140652808331635),51.53657605908692,-0.13140652808331635,-0.131407,51.536576,POINT (-0.13141 51.53658)
7,7,8,Great Ormond Street Hospital for Children,389,(51.52185708372544 -0.12074826613375186),51.52185708372544,-0.12074826613375186,-0.120748,51.521857,POINT (-0.12075 51.52186)
8,8,9,St Thomas' Hospital,840,(51.49918025084983 -0.11884729978593793),51.49918025084983,-0.11884729978593793,-0.118847,51.499180,POINT (-0.11885 51.49918)
9,9,10,Homerton University Hospital,500,(51.55075752247706 -0.045676644074396464),51.55075752247706,-0.045676644074396464,-0.045677,51.550758,POINT (-0.04568 51.55076)
10,10,11,St. Marys Hospital,484,(51.517563372601714 -0.17426552157704808),51.517563372601714,-0.17426552157704808,-0.174266,51.517563,POINT (-0.17427 51.51756)
11,11,12,King's College Hospital,950,(51.46781474677647 -0.09383003058446282),51.46781474677647,-0.09383003058446282,-0.093830,51.467815,POINT (-0.09383 51.46781)
12,12,13,University Hospital Lewisham,450,(51.453882204418 -0.017243481631816035),51.453882204418,-0.017243481631816035,-0.017243,51.453882,POINT (-0.01724 51.45388)
13,13,14,Moorfields Eye Hospital,200,(51.52764989971377 -0.08995238804338428),51.52764989971377,-0.08995238804338428,-0.089952,51.527650,POINT (-0.08995 51.52765)
14,14,15,North Middlesex University Hospital,515,(51.61318176643098 -0.07356174407209416),51.61318176643098,-0.07356174407209416,-0.073562,51.613182,POINT (-0.07356 51.61318)
15,15,16,Royal Free Hospital,839,(51.55352258377373 -0.1662737735498144),51.55352258377373,-0.1662737735498144,-0.166274,51.553523,POINT (-0.16627 51.55352)
16,16,17,Maudsley Hospital,250,(51.469448065152456 -0.09116947865908756),51.469448065152456,-0.09116947865908756,-0.091169,51.469448,POINT (-0.09117 51.46945)
17,17,18,Springfield Hospital,500,(51.43702674706609 -0.1702167959539087),51.43702674706609,-0.1702167959539087,-0.170217,51.437027,POINT (-0.17022 51.43703)
18,18,19,St George's University Hospital,1000,(51.42654227327191 -0.1752106920698958),51.42654227327191,-0.1752106920698958,-0.175211,51.426542,POINT (-0.17521 51.42654)
19,19,20,The Tavistock Centre,200,(51.54665623178398 -0.17532138118265903),51.54665623178398,-0.17532138118265903,-0.175321,51.546656,POINT (-0.17532 51.54666)
20,20,21,The Royal Marsden Hospital,269,(51.49098843119929 -0.17290662697958017),51.49098843119929,-0.17290662697958017,-0.172907,51.490988,POINT (-0.17291 51.49099)
21,21,22,University College London Hospitals,665,(51.52508852959958 -0.13643622200625175),51.52508852959958,-0.13643622200625175,-0.136436,51.525089,POINT (-0.13644 51.52509)
22,22,23,The Whittington Hospital,360,(51.56660001632023 -0.1398623174216305),51.56660001632023,-0.1398623174216305,-0.139862,51.566600,POINT (-0.13986 51.56660)
23,23,24,Central Middlesex Hospital,214,(51.53106411727037 -0.2690134287324337),51.53106411727037,-0.2690134287324337,-0.269013,51.531064,POINT (-0.26901 51.53106)
24,24,25,St Helier Hospital,629,(51.38043455716198 -0.18475101374753974),51.38043455716198,-0.18475101374753974,-0.184751,51.380435,POINT (-0.18475 51.38043)

In [15]:
latpark=[]
lonpark=[]
for park in dataorigin["geometry"]:
    lonpark.append(str(park).split(' ')[1].split('(')[1])
    latpark.append(str(park).split(' ')[2].split(')')[0])

In [16]:
destcood1=[]
temp=0
while temp<5:
    count=0
    cood=""
    while count<5:
        if count!=4:
            cood=cood+latpark[temp*5+count]+","+lonpark[temp*5+count]+"|"
        else:
            cood=cood+latpark[temp*5+count]+","+lonpark[temp*5+count]
        count=count+1
    destcood1.append(cood)
    temp=temp+1
print("finish")

finish

In [17]:
destcood1

['51.48924130107575,-0.1705189273646031|51.48439792332896,-0.1817004791779367|51.37691989734889,-0.5287789709867476|51.56876542120414,0.1808007595836477|51.58051804669895,-0.08941433058033453',
 '51.51734081630833,-0.05980502294302827|51.53657605908693,-0.1314065280833163|51.52185708372544,-0.1207482661337518|51.49918025084983,-0.1188472997859379|51.55075752247706,-0.04567664407439646',
 '51.51756337260171,-0.1742655215770481|51.46781474677647,-0.09383003058446282|51.453882204418,-0.01724348163181604|51.52764989971377,-0.08995238804338428|51.61318176643098,-0.07356174407209416',
 '51.55352258377373,-0.1662737735498144|51.46944806515246,-0.09116947865908756|51.4370267470661,-0.1702167959539087|51.42654227327191,-0.1752106920698958|51.54665623178398,-0.1753213811826591',
 '51.49098843119929,-0.1729066269795801|51.52508852959958,-0.1364362220062517|51.56660001632023,-0.1398623174216305|51.53106411727037,-0.2690134287324337|51.38043455716198,-0.1847510137475397']

#### distances: the schools

In [7]:
dataorigin = gpd.read_file("../shp/school/school.shp")
dataorigin.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   field_1    30 non-null     object
 1   index      30 non-null     object
 2   name       30 non-null     object
 3   enrolment  30 non-null     object
 4   location   30 non-null     object
 5   latitude   30 non-null     object
 6   lontitude  30 non-null     object
 7   lon        30 non-null     float64
 8   lat        30 non-null     float64
 9   geometry   30 non-null     geometry
dtypes: float64(2), geometry(1), object(7)
memory usage: 2.5+ KB

In [8]:
latschool=[]
lonschool=[]
for school in dataorigin["geometry"]:
    lonschool.append(str(school).split(' ')[1].split('(')[1])
    latschool.append(str(school).split(' ')[2].split(')')[0])

In [10]:
destcood1=[]
temp=0
while temp<6:
    count=0
    cood=""
    while count<5:
        if count!=4:
            cood=cood+latschool[temp*5+count]+","+lonschool[temp*5+count]+"|"
        else:
            cood=cood+latschool[temp*5+count]+","+lonschool[temp*5+count]
        count=count+1
    destcood1.append(cood)
    temp=temp+1
print("finish")

finish

In [ ]:
destcood1

### google map api

In [18]:
import urllib.request
import requests
import json
import bs4

In [19]:
key='AIzaSyBngclS7Ua8ASVkEspdGrcOPzCX9XlETuw'
urlhead='https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial'

### park time

In [ ]:
travel_time_msoa_park_car=[[]for i in range(len(origlat)-1+1)]
origroup=0
while origroup<33:
    destgroup=0
    while destgroup<11:
        origcood=origcood1[origroup]
        destcood=destcood1[destgroup]
        url=urlhead+"&origins="+str(origcood)+"&destinations="+str(destcood)+"&key="+key
        result=json.loads(urllib.request.urlopen(url).read())
        destgroup=destgroup+1
        #####
        if origroup!=32:
            orig=0
            while orig<=20-1:
                dest=0
                while dest<=5-1:
                    # 左索引控制orig;右索引控制dest
                    travel_time_msoa_park_car[(origroup*20+orig)].append(result['rows'][orig]['elements'][dest]['duration']['value'])
                    dest=dest+1
                orig=orig+1
        else:
            orig=0
            while orig<=9-1:
                dest=0
                while dest<=5-1:
                    # 左索引控制orig;右索引控制dest
                    travel_time_msoa_park_car[(origroup*20+orig)].append(result['rows'][orig]['elements'][dest]['duration']['value'])
                    dest=dest+1
                orig=orig+1
    origroup=origroup+1
    print("processed "+"("+str(origroup)+"/"+str(33)+")"+":["+"^"*(origroup)+"_"*(33-origroup)+"] "+str(int(origroup/33*100))+"%")
savecsv=pd.DataFrame(data=travel_time_msoa_park_car)
savecsv.to_csv("test ward travel time car.csv")
print("Finished")

### school time

In [35]:
travel_time_wards_school_car=[[]for i in range(len(origlat)-1+1)]
origroup=0
while origroup<33:
    destgroup=0
    ## len()/5
    while destgroup<6:
        origcood=origcood1[origroup]
        destcood=destcood1[destgroup]
        url=urlhead+"&origins="+str(origcood)+"&destinations="+str(destcood)+"&key="+key
        result=json.loads(urllib.request.urlopen(url).read())
        destgroup=destgroup+1
        #####
        if origroup!=32:
            orig=0
            while orig<=20-1:
                dest=0
                while dest<=5-1:
                    # 左索引控制orig;右索引控制dest
                    travel_time_wards_school_car[(origroup*20+orig)].append(result['rows'][orig]['elements'][dest]['duration']['value'])
                    dest=dest+1
                orig=orig+1
        else:
            orig=0
            while orig<=9-1:
                dest=0
                while dest<=5-1:
                    # 左索引控制orig;右索引控制dest
                    travel_time_wards_school_car[(origroup*20+orig)].append(result['rows'][orig]['elements'][dest]['duration']['value'])
                    dest=dest+1
                orig=orig+1
    origroup=origroup+1
    print("processed "+"("+str(origroup)+"/"+str(33)+")"+":["+"^"*(origroup)+"_"*(33-origroup)+"] "+str(int(origroup/33*100))+"%")
savecsv=pd.DataFrame(data=travel_time_wards_school_car)
savecsv.to_csv("../result/school ward travel time car.csv")
print("Finished")

processed (1/33):[^________________________________]
processed (2/33):[^^_______________________________]
processed (3/33):[^^^______________________________]
processed (4/33):[^^^^_____________________________]
processed (5/33):[^^^^^____________________________]
processed (6/33):[^^^^^^___________________________]
processed (7/33):[^^^^^^^__________________________]
processed (8/33):[^^^^^^^^_________________________]
processed (9/33):[^^^^^^^^^________________________]
processed (10/33):[^^^^^^^^^^_______________________]
processed (11/33):[^^^^^^^^^^^______________________]
processed (12/33):[^^^^^^^^^^^^_____________________]
processed (13/33):[^^^^^^^^^^^^^____________________]
processed (14/33):[^^^^^^^^^^^^^^___________________]
processed (15/33):[^^^^^^^^^^^^^^^__________________]
processed (16/33):[^^^^^^^^^^^^^^^^_________________]
processed (17/33):[^^^^^^^^^^^^^^^^^________________]
processed (18/33):[^^^^^^^^^^^^^^^^^^_______________]
processed (19/33):[^^^^^^^^^^^^^^^^^^^______________]
processed (20/33):[^^^^^^^^^^^^^^^^^^^^_____________]
processed (21/33):[^^^^^^^^^^^^^^^^^^^^^____________]
processed (22/33):[^^^^^^^^^^^^^^^^^^^^^^___________]
processed (23/33):[^^^^^^^^^^^^^^^^^^^^^^^__________]
processed (24/33):[^^^^^^^^^^^^^^^^^^^^^^^^_________]
processed (25/33):[^^^^^^^^^^^^^^^^^^^^^^^^^________]
processed (26/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^_______]
processed (27/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^^______]
processed (28/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^^^_____]
processed (29/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^^^^____]
processed (30/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^___]
processed (31/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^__]
processed (32/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^_]
processed (33/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^]
Finished

### hospital time

In [21]:
travel_time_wards_school_car=[[]for i in range(len(origlat)-1+1)]
origroup=0
while origroup<33:
    destgroup=0
    ## len()/5
    while destgroup<5:
        origcood=origcood1[origroup]
        destcood=destcood1[destgroup]
        url=urlhead+"&origins="+str(origcood)+"&destinations="+str(destcood)+"&key="+key
        result=json.loads(urllib.request.urlopen(url).read())
        destgroup=destgroup+1
        #####
        if origroup!=32:
            orig=0
            while orig<=20-1:
                dest=0
                while dest<=5-1:
                    # 左索引控制orig;右索引控制dest
                    travel_time_wards_school_car[(origroup*20+orig)].append(result['rows'][orig]['elements'][dest]['duration']['value'])
                    dest=dest+1
                orig=orig+1
        else:
            #最后一个
            orig=0
            while orig<=9-1:
                dest=0
                while dest<=5-1:
                    # 左索引控制orig;右索引控制dest
                    travel_time_wards_school_car[(origroup*20+orig)].append(result['rows'][orig]['elements'][dest]['duration']['value'])
                    dest=dest+1
                orig=orig+1
    origroup=origroup+1
    print("processed "+"("+str(origroup)+"/"+str(33)+")"+":["+"^"*(origroup)+"_"*(33-origroup)+"] "+str(int(origroup/33*100))+"%")
savecsv=pd.DataFrame(data=travel_time_wards_school_car)
savecsv.to_csv("../result/hospital ward travel time car.csv")
print("Finished")

processed (1/33):[^________________________________] 3%
processed (2/33):[^^_______________________________] 6%
processed (3/33):[^^^______________________________] 9%
processed (4/33):[^^^^_____________________________] 12%
processed (5/33):[^^^^^____________________________] 15%
processed (6/33):[^^^^^^___________________________] 18%
processed (7/33):[^^^^^^^__________________________] 21%
processed (8/33):[^^^^^^^^_________________________] 24%
processed (9/33):[^^^^^^^^^________________________] 27%
processed (10/33):[^^^^^^^^^^_______________________] 30%
processed (11/33):[^^^^^^^^^^^______________________] 33%
processed (12/33):[^^^^^^^^^^^^_____________________] 36%
processed (13/33):[^^^^^^^^^^^^^____________________] 39%
processed (14/33):[^^^^^^^^^^^^^^___________________] 42%
processed (15/33):[^^^^^^^^^^^^^^^__________________] 45%
processed (16/33):[^^^^^^^^^^^^^^^^_________________] 48%
processed (17/33):[^^^^^^^^^^^^^^^^^________________] 51%
processed (18/33):[^^^^^^^^^^^^^^^^^^_______________] 54%
processed (19/33):[^^^^^^^^^^^^^^^^^^^______________] 57%
processed (20/33):[^^^^^^^^^^^^^^^^^^^^_____________] 60%
processed (21/33):[^^^^^^^^^^^^^^^^^^^^^____________] 63%
processed (22/33):[^^^^^^^^^^^^^^^^^^^^^^___________] 66%
processed (23/33):[^^^^^^^^^^^^^^^^^^^^^^^__________] 69%
processed (24/33):[^^^^^^^^^^^^^^^^^^^^^^^^_________] 72%
processed (25/33):[^^^^^^^^^^^^^^^^^^^^^^^^^________] 75%
processed (26/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^_______] 78%
processed (27/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^^______] 81%
processed (28/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^^^_____] 84%
processed (29/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^^^^____] 87%
processed (30/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^___] 90%
processed (31/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^__] 93%
processed (32/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^_] 96%
processed (33/33):[^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^] 100%
Finished

### Robust

In [207]:
destgroup=1
while destgroup<11:
    origcood=origcood1[8]
    destcood=destcood1[destgroup]
    url=urlhead+"&origins="+str(origcood)+"&destinations="+str(destcood)+"&key="+key
    result=json.loads(urllib.request.urlopen(url).read())
    destgroup=destgroup+1
    #####
    orig=0
    while orig<=20-1:
        dest=0
        while dest<=5-1:
        # 左索引控制orig;右索引控制dest
            travel_time_msoa_park_car[(8*20+orig)].append(result['rows'][orig]['elements'][dest]['duration']['value'])
            dest=dest+1
        orig=orig+1

In [213]:
savecsv=pd.DataFrame(data=travel_time_msoa_park_car)
savecsv.to_csv("test ward travel time car finished.csv")
print("Finished")

Finished

In [209]:
travel_time_msoa_park_car=pd.read_csv("test ward travel time car (1).csv")

In [210]:
travel_time_msoa_park_car=np.array(travel_time_msoa_park_car)
travel_time_msoa_park_car=travel_time_msoa_park_car.tolist()

In [211]:
origroup=9
while origroup<33:
    destgroup=0
    while destgroup<11:
        origcood=origcood1[origroup]
        destcood=destcood1[destgroup]
        url=urlhead+"&origins="+str(origcood)+"&destinations="+str(destcood)+"&key="+key
        result=json.loads(urllib.request.urlopen(url).read())
        destgroup=destgroup+1
        #####
        if origroup!=32:
            orig=0
            while orig<=20-1:
                dest=0
                while dest<=5-1:
                    # 左索引控制orig;右索引控制dest
                    travel_time_msoa_park_car[(origroup*20+orig)].append(result['rows'][orig]['elements'][dest]['duration']['value'])
                    dest=dest+1
                orig=orig+1
        else:
            orig=0
            while orig<=9-1:
                dest=0
                while dest<=5-1:
                    # 左索引控制orig;右索引控制dest
                    travel_time_msoa_park_car[(origroup*20+orig)].append(result['rows'][orig]['elements'][dest]['duration']['value'])
                    dest=dest+1
                orig=orig+1
    origroup=origroup+1
savecsv=pd.DataFrame(data=travel_time_msoa_park_car)
savecsv.to_csv("test ward travel time car.csv")
print("Finished")

Finished

In [102]:
travel_time_msoa_park_car=[[]for i in range(len(origlat)-630+1)]
dest=0
while dest<=len(latpark)-51:
    orig=0
    while orig<=len(origlat)-630:
        travel_time_msoa_park_car[orig].append(result['rows'][orig]['elements'][dest]['duration']['value'])
        orig=orig+1
    dest=dest+1
savecsv=pd.DataFrame(data=travel_time_msoa_park_car)
savecsv.to_csv("test ward travel time car.csv")
print("Finished")

Finished

In [ ]:
result

In [ ]:
travel_time_msoa_park_car